logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
ci-cd/dev-compose/mongo-data
ci-cd/dev-compose/postgres-data
ci-cd/dev-compose/redis-data
.bsp